# This is a basic workflow to help you get started with Actions

name: CI

on:
   push:
    branches: [ "main" ]
   pull_request:
    branches: [ "main" ]
   workflow_dispatch:


jobs:

  build_matrix:
    strategy:
      matrix:
       os: [ ubuntu-latest, windows-latest, macos-latest]
       gcc_params: [-O0, O3]
    runs-on: ${{matrix.os}}
    env:
      app_name: hello_&{{matrix.os}}.o
    steps:
      - uses: actions/checkout@v3

      - name: build cpp
        run: g++ hello.cpp -o ${{env.app_name}} ${{matrix.gcc_params}}

      - name: Run cpp app
        run: ./${{env.app_name}}
        
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v3.1.2
        with:
           name: cpp app matrix
           path: ${{env.app_name}}
           retention-days: 3
    
