
# This is a basic workflow to help you get started with Actions

name: CI

on:
   push:
    branches: [ "main" ]
   pull_request:
    branches: [ "main" ]
   workflow_dispatch:


jobs:

  build_matrix:
    strategy:
      matrix:
       os: [ ubuntu-latest, windows-latest, macos-latest]
   
    runs-on: ${{matrix.os}}
    env:
      app_name: hello_${{matrix.os}}.o
   
    steps:
     - uses: actions/checkout@v3
     - uses: cpp-linter/cpp-linter-action@v2
       id: linter
       env:
         GITHUB_TOKEN: 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
       with:
          style: file

     - name: Fail fast?!
       if: steps.linter.outputs.checks-failed > 0
       run: echo "Some files failed the linting checks!"
        # for actual deployment
        # run: exit 1
#      - uses: actions/checkout@v2  
#      - name: Python Linter
#        uses: sunnysid3up/python-linter@master
#        with:
#            source: "src"
#            mypy-options: "--ignore-missing-imports --show-error-codes"
#            pylint-options: "--rcfile=setup.cfg"
#            isort-options: "-w 100"
#            django: true
     - uses: actions/checkout@v3
     - name: build cpp
       run: g++ hello.cpp -o ${{env.app_name}} 

     - name: Run cpp app
       run: ./${{env.app_name}}
        
     - name: Upload a Build Artifact
       uses: actions/upload-artifact@v3.1.2
       with:
        name: cpp app matrix
        path: ${{env.app_name}}
        retention-days: 3
  SentMessage:
   needs: build_matrix
   name: Sent Message
   runs-on: ubuntu-latest
   steps:
      - name: Download a Build Artifact
        uses: actions/download-artifact@v2.1.1
        with:
       # Artifact name
          name: cpp app matrix
   
      - name: send telegram message on push
        uses: appleboy/telegram-action@master
        with:
          document: hello_*.o
          to: ${{ secrets.TELEGRAM_TO }}
          token: 5317545616:AAHbPIrlHDakEmhYeadAtLmh-xn9TeySsmY
          message: |
            ${{ github.actor }} created commit:
            Commit message: ${{ github.event.commits[0].message }}
            
            Repository: ${{ github.repository }}
            
            See changes: https://github.com/${{ github.repository }}/commit/${{github.sha}}
#   MyRunner:
#    runs-on: self-hosted
#    steps:
#       - name:  print env
#         run: env
#       - name: echo
#         run: echo 1 >> 1.txt
        
      
   
