# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build_ubuntu:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: build cpp
        run: g++ hello.cpp -o hello.o

      - name: Run cpp app
        run: ./hello.o
        
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v3.1.2
        with:
           name: cpp app ubuntu
           path: hello.o
           retention-days: 3
  build_windows:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v3

      - name: build cpp
        run: g++ hello.cpp -o hello.o

      - name: Run cpp app
        run: ./hello.o
        
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v3.1.2
        with:
           name: cpp app windows
           path: hello.o
           retention-days: 3
  build_macos:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3

      - name: build cpp
        run: g++ hello.cpp -o hello.o

      - name: Run cpp app
        run: ./hello.o
        
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v3.1.2
        with:
           name: cpp app macos
           path: hello.o
           retention-days: 3
