
# This is a basic workflow to help you get started with Actions

name: CI

on:
   push:
    branches: [ "main" ]
   pull_request:
    branches: [ "main" ]
   workflow_dispatch:


jobs:

  build_matrix:
    strategy:
      matrix:
       os: [ ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v3

      - name: build cpp
        run: g++ hello.cpp -o hello_${{runner.os}}.o

      - name: Run cpp app
        run: ./hello_${{runner.os}}.o
        
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v3.1.2
        with:
           name: cpp app matrix
           path: hello_${{runner.os}}.o
           retention-days: 3
